<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
  <TITLE>m32r (Index)</TITLE>
<META HTTP-EQUIV="Refresh" CONTENT="900">
</HEAD>
<BODY text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#800080" alink="#FF0000">
<table border="0" width="100%">
  <tr>
    <td align="left" width="33%">
      [<a href="http://www.buildd.net/">home</a>]
    </td>
    <td align="center" width="33%">
	  [<a href="http://backports.buildd.net/">backports</a>]
	  [<a href="http://experimental.buildd.net/">experimental</a>]
	  [<a href="http://non-free.buildd.net/">non-free</a>]
    </td>
    <td align="right" width="33%">
      [<a href="cgi/badmin.phtml">buildd admin login</a>]
    </td>
  </tr>
</table>
<H1 ALIGN=CENTER>m68k</H1>

<p>
<center>
[<a href="http://www.buildd.net/index-alpha.html">alpha</a>] 
[<a href="http://www.buildd.net/index-amd64.html">amd64</a>] 
[<a href="http://www.buildd.net/index-arm.html">arm</a>]
[<a href="http://www.buildd.net/index-hppa.html">hppa</a>] 
[<a href="http://www.buildd.net/index-i386.html">i386</a>]
[<a href="http://www.buildd.net/index-ia64.html">ia64</a>] 
[<a href="http://www.buildd.net/index-m32r.html">m32r</a>] 
[<a href="http://www.buildd.net/index-m68k.html">m68k</a>] 
[<a href="http://www.buildd.net/index-mips.html">mips</a>] 
[<a href="http://www.buildd.net/index-mipsel.html">mipsel</a>]
[<a href="http://www.buildd.net/index-powerpc.html">powerpc</a>]
[<a href="http://www.buildd.net/index-s390.html">s390</a>] 
[<a href="http://www.buildd.net/index-sparc.html">sparc</a>]
</center>

<!-- (was after [m68k]; can't nest) <input type="submit" name="searchtype" value="[all]"> -->

<!-- add important notes here: -->
<p><hr><p>
<font color="#FF0000">
<center>
buildd.net is under (re)construction - things may break - please stay tuned 
</font>
</center>
<!-- end of comment -->
<p>
<hr>
<p>
<center>
<form action="http://www.buildd.net/cgi/package_status" method=get>
Package status
<input type="text" name="m32r_pkg" size=30>
<input type="submit" name="searchtype" value="go">
</form>
</center>
<p>
<hr>
<p>
<table cellpadding=20>
  <tr valign="top">
    <td align="left">
	  <table width="200" valign="top">
Current m32r status:
<p>
<ul>
<li> <a href="http://www.buildd.net/buildd/m32r_Needs-Build.html">Needs-Build</a>
 (<a href="http://www.buildd.net/buildd/m32r_needs-build.txt">queue order</a>)
<li> <a href="http://www.buildd.net/buildd/m32r_Building.html">Building</a>
<li> <a href="http://www.buildd.net/buildd/m32r_Uploaded.html">Uploaded</a>
</ul>
<p>
<ul>
<li> <a href="http://www.buildd.net/buildd/m32r_Dep-Wait.html">Dep-Wait</a>
<li> <a href="http://www.buildd.net/buildd/m32r_Failed.html">Failed</a>
<li> <a href="http://www.buildd.net/buildd/m32r_Not-For-Us.html">Not-For-Us</a>
</ul>
<p>
<ul>
<li> <a href="http://www.buildd.net/buildd/m32r_Dep-Wait-Removed.html">Dep-Wait-Removed</a>
<li> <a href="http://www.buildd.net/buildd/m32r_Failed-Removed.html">Failed-Removed</a>
</ul>
<p>
<ul>
<li> <a href="http://www.buildd.net/buildd/m32r_Installed.html">Installed</a>
</ul>
<a href="http://www.buildd.net/buildd/m32r_stats">summary</a>
 | <a href="http://buildd.debian.org/stats/graph-week-big.png">graph</a>
 | <a href="http://www.buildd.net/buildd/m32r-all.txt">raw data</a>
      </table>
	</td>
	<td align="center">
all archs:<br><p><p>
<a href="buildd/Needs-Build_stats.png">graph</a><br>
<a href="buildd/Building_stats.png">graph</a><br>
<a href="buildd/Uploaded_stats.png">graph</a><br>
<p>
<a href="buildd/Dep-Wait_stats.png">graph</a><br>
<a href="buildd/Failed_stats.png">graph</a><br>
<a href="buildd/Not-For-Us_stats.png">graph</a><br>
<p>
<a href="buildd/Dep-Wait-Removed_stats.png">graph</a><br>
<a href="buildd/Failed-Removed_stats.png">graph</a><br>
<p>
<a href="buildd/Installed_stats.png">graph</a><br>
	</td>
	<td align="left">
	  <table valign="top">


Needs doing

<p>
<ul>
<li><a href="http://www.buildd.net/buildd/update_excuses.html">update excuses</a>
  |   <a href="http://www.buildd.net/buildd/m32r-update_excuses.html">m32r update excuses</a>
<li><a href="http://www.buildd.net/buildd/all.html">Release Critical Bugs</a>
<!--
 | <a href="http://www.buildd.net/buildd/m32r_rc.html">m32r RC Bugs</a>
<p>
<a href="http://auric.debian.org/~pb/shame/m32r.html">another, nice looking m32r update excuses</a>
-->
<li><a href="http://incoming.debian.org/">Incoming</a>
  |   <a href="http://www.buildd.net/buildd/incoming.txt">new source</a>
  |   <a href="http://www.buildd.net/buildd/tobuild.html">accepted</a>

<li>Quinn diff output for
<a href="http://buildd.debian.org/quinn-diff/output/stable/by_priority_split-m32r.txt">stable</a> and
<a href="http://buildd.debian.org/quinn-diff/output/unstable/by_priority_split-m32r.txt">unstable</a>
<li><a href="http://www.buildd.net/buildd/Packages-arch-specific">Packages-arch-specific</a>
</ul>
   <ul> 
<!--   <li> Graph Needs-Build <a href="buildd/all_stats.png">for all archs</a>
-->
   <li> <a href="buildd/m32r_stats.png">combined graphs</a> for this arch
  </ul>
<br><p>
Based on wanna-build dump from buildd.debian.org,<br> generated at: 2004-10-07 09:43:42 UTC+1      </table>
	</td>
  </tr>
</table>
<p>
<hr>
<p>

<p>
<table border=0 cellspacing=2 cellpadding=2>

	<tr bgcolor="#c0c0c0">
		<td><b>H B</b></td>
		<td><b>Name:</b></td>
		<td><b>Host:</b></td>
		<td><b>Model:</b></td>
		<td><b>CPU:</b></td>
		<td><b>RAM:</b></td>
		<td><b>Disk:</b></td>
		<td><b>Admin:</b></td>
		<td><b>Building | <font color="#FF0000">Reason:</font></b></td>
	</tr>

    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>a4000t</td>
       <td>a4000t.hk-soft.net</td>
       <td>Amiga 4000T</td>
       <td>68060/56</td>
       <td align="right">128M</td>
       <td align="right">18G</td>
       <td><a href="mailto:adconrad@debian.org">Adam Conrad</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>jt7</td>
       <td>jt7-336.tky.hut.fi</td>
       <td>Amiga 1200</td>
       <td>68060/50</td>
       <td align="right">256M</td>
       <td align="right">120G</td>
       <td><a href="mailto:smarenka@debian.org">Stephen Marenka</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/red.png" alt="down">
       </td>
       <td>spice</td>
       <td>spice.buildd.net</td>
       <td>Amiga 3000</td>
       <td>68060/50</td>
       <td align="right">144M</td>
       <td align="right">14G</td>
       <td><a href="mailto:wouter@debian.org">Wouter Verhelst</a></td>
       <td>

       <font color="#FF0000">power saving</font>
       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>aahz</td>
       <td>aahz.buildd.dyndns.org</td>
       <td>Amiga 2000</td>
       <td>68060/50</td>
       <td align="right">128M</td>
       <td align="right">12G</td>
       <td><a href="mailto:cts@debian.org">Christian Steigies</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>akire</td>
       <td>akire.buildd.net</td>
       <td>Amiga 2000</td>
       <td>68060/50</td>
       <td align="right">128M</td>
       <td align="right">8G</td>
       <td><a href="mailto:smurf@debian.org">Matthias Urlichs</a></td>
       <td>
       twisted_1.3.0-4

       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>crest</td>
       <td>crest.debian.org</td>
       <td>Amiga 4000</td>
       <td>68060/50</td>
       <td align="right">128M</td>
       <td align="right">48G</td>
       <td><a href="mailto:younie@debian.org">Rick Younie</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>kullervo</td>
       <td>kullervo.debian.org</td>
       <td>Amiga 3000UX</td>
       <td>68060/50</td>
       <td align="right">128M</td>
       <td align="right">18G</td>
       <td><a href="mailto:roman@debian.org">Roman Hodek</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/red.png" alt="down">
       </td>
       <td>a4000</td>
       <td>mrvn.bluespice.org</td>
       <td>Amiga 4000T</td>
       <td>68060/50</td>
       <td align="right">96M</td>
       <td align="right">20G</td>
       <td><a href="mailto:brederlo@informatik.uni-tuebingen.de">Goswin von Brederlow</a></td>
       <td>

       <font color="#FF0000">not allowed to upload</font>
       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/grey.png" alt="not participating">
       </td>
       <td>shaihulud</td>
       <td>shaihulud.buildd.net</td>
       <td>Amiga 2000</td>
       <td>68060/50</td>
       <td align="right">96M</td>
       <td align="right">6G</td>
       <td><a href="mailto:adconrad@debian.org">Adam Conrad</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/grey.png" alt="not participating">
       </td>
       <td>a1200</td>
       <td>mrvn.bluespice.org</td>
       <td>Amiga 1200</td>
       <td>68060/50</td>
       <td align="right">48M</td>
       <td align="right">10G</td>
       <td><a href="mailto:wouter@debian.org">Wouter Verhelst</a></td>
       <td>

       <font color="#FF0000">not allowed to upload</font>
       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>kiivi</td>
       <td>kiivi.cyber.ee</td>
       <td>Mac Quadra 840AV</td>
       <td>68040/40</td>
       <td align="right">128M</td>
       <td align="right">9G</td>
       <td><a href="mailto:wouter@debian.org">Wouter Verhelst</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>tanda</td>
       <td>tanda.buildd.dyndns.org</td>
       <td>Mac Quadra 840</td>
       <td>68040/40</td>
       <td align="right">128M</td>
       <td align="right">4G</td>
       <td><a href="mailto:cts@debian.org">Christian Steigies</a></td>
       <td>
       slrn_0.9.8.1-1

       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>arrakis</td>
       <td>arrakis.buildd.net</td>
       <td>Amiga 3000</td>
       <td>68040/40</td>
       <td align="right">64M</td>
       <td align="right">14G</td>
       <td><a href="mailto:wouter@debian.org">Wouter Verhelst</a></td>
       <td>

       <font color="#FF0000">disk error on /home</font>
       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/yellow.png" alt="no response">
       </td>
       <td>zot</td>
       <td>zot.smurf.noris.de</td>
       <td>Mac Quadra 840</td>
       <td>68040/40</td>
       <td align="right">64M</td>
       <td align="right">16G</td>
       <td><a href="mailto:smurf@debian.org">Matthias Urlichs</a></td>
       <td>
       acl2_2.8-5

       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>poseidon</td>
       <td>poseidon.marenka.net</td>
       <td>Mac Quadra 950</td>
       <td>68040/33</td>
       <td align="right">144M</td>
       <td align="right">9G</td>
       <td><a href="mailto:smarenka@debian.org">Stephen Marenka</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/green.png" alt="up">
       </td>
       <td>zeus</td>
       <td>zeus.marenka.net</td>
       <td>Mac Quadra 950</td>
       <td>68040/33</td>
       <td align="right">80M</td>
       <td align="right">9G</td>
       <td><a href="mailto:smarenka@debian.org">Stephen Marenka</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/yellow.png" alt="no response">
       </td>
       <td>q650</td>
       <td>q650.biophys.uni-duesseldorf.de</td>
       <td>Mac Quadra 650</td>
       <td>68040/33</td>
       <td align="right">64M</td>
       <td align="right">NoneG</td>
       <td><a href="mailto:schmitz@debian.org">Michael Schmitz</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#e0e0f0>
       <td align="left">
         <img src="pix/grey.png" alt="not participating">
       </td>
       <td>thing2</td>
       <td>thing2.marenka.net</td>
       <td>Mac Centris</td>
       <td>68040/25</td>
       <td align="right">136M</td>
       <td align="right">NoneG</td>
       <td><a href="mailto:smarenka@debian.org">Stephen Marenka</a></td>
       <td>


       </td>
    </tr>
    <tr bgcolor=#f8f8ff>
       <td align="left">
         <img src="pix/grey.png" alt="not participating">
       </td>
       <td>quickstep</td>
       <td>quickstep.nixsys.be</td>
       <td>Mac Centris 650</td>
       <td>68040/25</td>
       <td align="right">132M</td>
       <td align="right">9G</td>
       <td><a href="mailto:wouter@debian.org">Wouter Verhelst</a></td>
       <td>

       <font color="#FF0000">dead disk</font>
       </td>
    </tr>
</table>
<center>the colors of the LEDs are explained in the <a href="../docs/faq.html">FAQ</a></center>
<p>
<hr>
<p>
crest has the full range of chroots available to users.
The login message explains how to access them.  Write the 
<a href="mailto:linux-m32r@ml.linux-m32r.org" title="[buildd.net]">m32r list</a>
 or 
<a href="mailto:takata@linux-m32r.org" title="[buildd.net]">me</a> to have things installed/removed.
<br>
Note: it can take several minutes to connect with SSH2 to a 68060 equipped machine.
<p>
Donation-/Sponsor-Notes:
<ul>
  <li>mappi005 is donated by Hirokazu Takata.
</ul>
<p>
<p><hr><p>Last modified: Thu Oct 7 10:30:04 CEST 2004</BODY></HTML>
