<p>
<hr>
<p>
crest has the full range of chroots available to users.
The login message explains how to access them.  Write the 
<a href="mailto:m68k-build@nocrew.org" title="crest: ">m68k-build list</a>
 or 
<a href="mailto:younie@debian.org" title="crest: ">me</a> to have things installed/removed.
<br>
Note: it can take several minutes to connect with SSH2 to a 68060 equipped machine.
<p>
Donation-/Sponsor-Notes:
<ul>
  <li>Crest, as a public machine, was donated to the Debian Project by Anton Emmerfors and is hosted by the Biophysics department of the University of Duesseldorf.  It is named for Klaus 'crest' Burkert. <a href="./dedication.html">(more..)</a>
</ul>
<ul>
  <li>Akire was donated for usage by Matthias Kr&ouml;niger (<a href="http://www.sichtwerk-optik.de/">Sichtwerk Augenoptik</a>,  N&uuml;rnberg) and is hosted by <a href="http://www.noris.net">noris network AG</a>, N&uuml;rnberg.
</ul>
<ul>
  <li>Arrakis and Spice are donated for usage by Ingo J&uuml;rgensmann.
</ul>
<ul>
  <li>jt7 was donated by Tuomas Vainikka.
</ul>
<ul>
  <li>kiivi was donated by Meelis Roos and is hosted by <a href="http://www.cyber.ee/">Cybernetica AS</a> in Tartu, Estonia.
</ul>
<p>
