<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
  <TITLE>buildd.net</TITLE>
<META HTTP-EQUIV="Refresh" CONTENT="1800">
</HEAD>
<BODY text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#800080" alink="#FF0000">
<table border="0" width="100%">
  <tr>
    <td align="left" width="20%">
      [<a href="http://www.buildd.net/">home</a>] [<a href="http://blog.windfluechter.net">ij's blog</a>]
    </td>
    <td align="center" width="60%">
	  <!--[<a href="http://backports.buildd.net/">backports</a>]-->
	  [<a href="http://etch-secure.buildd.net/index-%ARCH%.html">etch-secure</a>]
	  [<a href="http://experimental.buildd.net/index-%ARCH%.html">experimental</a>]
	  [<a href="http://non-free.buildd.net/index-%ARCH%.html">non-free</a>]
	  [<a href="http://volatile.buildd.net/index-%ARCH%.html">sarge-volatile</a>]
	  [<a href="http://unstable.buildd.net/index-%ARCH%.html">unstable</a>]
    </td>
    <td align="right" width="20%">
      [<a href="http://www.buildd.net/cgi/badmin.phtml">buildd admin login</a>]
    </td>
  </tr>
</table>
<p><p><p>
<!--center><h2>buildd.debian.org unreachable</h2></center>
<p>
Currently a subnet at HP Fort Collins facility (donator for Debian
infrastructure) is unreachable. This includes buildd.debian.org as well,
which hosts the wanna-build databases for unstable.<br>
<p><hr-->
<table bgcolor="#f0f0f0" width=100%>
	<th>
		<H1 ALIGN=CENTER>%ARCH%/%FLAVOUR%</H1>
	</th>
</table>

<p>
<center>
