<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2//EN">
<HTML>
<HEAD>
  <link rel="stylesheet" href="http://buildd.net/builddnet.css" type="text/css" />
  <TITLE>buildd.net</TITLE>
<META HTTP-EQUIV="Refresh" CONTENT="1800">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</HEAD>
<BODY text="#000000" bgcolor="#FFFFFF" link="#0000FF" vlink="#800080" alink="#FF0000">
<table border="0" width="100%">
  <tr>
    <td align="left" width="20%">
      [<a href="http://www.buildd.net/">home</a>] [<a href="http://www.buildd.net/cgi/feedback.phtml">feedback</a>]<br>
	  [<a href="http://blog.windfluechter.net">ij's blog</a>] <font color="#ff0000">%MAINTENANCE%</font>
    </td>
    <td align="center" width="60%">
	  
