<p>
<hr>
<p>
<li><b>Please note:</b> The names are not matching the wanna-build database.
mappi005 is the buildd host and buildd and buildd2 are the buildd users on
that machine, because it is running two instances of buildd on that dual
core machine.</li>
<li>Write to the 
<a href="mailto:linux-m32r@ml.linux-m32r.org" title="[buildd.net] ">m32r list</a> to have things
installed/removed.</li>
<li>Visit the <a href="http://www.linux-m32r.org/">linux-m32r project</a> for more
information.</li>
<p>
Donation-/Sponsor-Notes:
<ul>
  <li>mappi005 is donated by H. Takata.
</ul>
<p>
