<p>
<hr>
<p>Other useful information:<br>
<li><a href="http://wiki.debian.org/DebianM68kPorting">http://wiki.debian.org/DebianM68kPorting</a> - this page tracks current issues with the m68k port.</li>
<li><a href="http://wiki.debian.org/DebianInstallerM68kTodo">http://wiki.debian.org/DebianInstallerM68kTodo</a> - this page tracks DebianInstaller development for the m68k port.</li>
<li>You can find some porters either on #debian-68k or on #debian-devel on irc.debian.org as well.</li>
<p>
<li>crest has the full range of chroots available to Debian Developers, kullervo only on request.<br>
The login message explains how to access them.  Write the <a href="mailto:debian-68k@lists.debian.org" title="[buildd] ">m68k-build list</a> to have things installed/removed.</li>
<br>
Note: it can take several minutes to connect with SSH2 to a 68060 equipped machine.
<p>
Donation-/Sponsor-Notes:
<ul>
  <li>Crest, as a public machine, was donated to the Debian Project by Anton Emmerfors. It is named for Klaus 'crest' Burkert. <a href="./dedication.html">(more..)</a></li>
  <li>Crest, Kullervo and Elgar are hosted by <a href="http://www.nmmn.de/">NMMN Hamburg</a>.
  <!--li>A4000t was donated by Robert Hardy.</li-->
  <li>Akire was donated for usage by Matthias Kr&ouml;niger (<a href="http://www.sichtwerk-optik.de/">Sichtwerk Augenoptik</a>,  N&uuml;rnberg) and is hosted by <a href="http://www.noris.net">noris network AG</a>, N&uuml;rnberg.</li>
  <li>Arrakis, Elgar, Spice and Vivaldi are donated for usage by <a href="http://www.windfluechter.net/">Ingo J&uuml;rgensmann</a>.</li>
  <li>Vault13 was donated by Tuomas Vainikka.</li>
  <!--li>Washi was donated by Mark Duckworth (atari-source.com).</li-->
  <li>Kiivi was donated by Meelis Roos and is hosted by <a href="http://www.cyber.ee/">Cybernetica AS</a> in Tartu, Estonia.</li>
  <li>Cronos, Diablos, Hades, and Promethus are donated for usage by Michael Casadevall</li>
</ul>
<p>
