<p>
<hr>
<p>
 <li>Buildd.Net tries to keep track of frequent buildd changes, but depends on
the buildd admins cooperation. Sadly, the buildd admins are usually rather
busy people, so some information might happen to be outdated. </li>
 <li>Debian Maintainers can use raptor.debian.org, which has the full range of chroots available to users. The
login message explains how to access them.</li>
 <li>Write to the <a href="mailto:debian-s390@lists.debian.org" title="buildd: ">s390-build
list</a></li>
<p>
